# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Output Slices & User Uploads
*.png
*.jpg
*.jpeg
*.webp
*.zip
shelf_left.png
item_interactive.png
shelf_right.png

# Environments
venv/
env/
ENV/

# PyInstaller / Build Artifacts
build/
dist/
*.spec

# IDEs
.vscode/
.idea/
